@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

.App {
  max-width: 332px;
  margin: 120px;
}

.text-container {
  height: 200px;
}

.header-text {
  font-family: 'Poppins';
}

.body-text {
  font-family: 'IBM Plex Sans', sans-serif;
}